<section id="about" class="about mt-5 pb-6">
<div>
    <h1 class="underline underline-offset-auto text-center text-5xl text-white title-font">About</h1>
    <div class="hero text-white mt-20">
        <div  class="hero-content p-0 flex-col lg:flex-row">
          <img  data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out"
          data-aos-anchor-placement="top-center" src="https://i.imgur.com/Msnx2Bp.jpg" class="max-w-sm rounded-lg shadow-2xl image" />
          <div class="content ml-2">
            <h2 data-aos="zoom-in"
            data-aos-duration="2000" class="mb-10 text-5xl fade">Fullstack Web Developer.</h2>
            <div  class="container m-auto grid grid-cols-2 pb-4">
              <div data-aos="fade-up"
              data-aos-duration="2000" class="grid ml-3">
                <ul class="list-disc">
                  <li > <strong>Birthday: </strong> <span>29.1.1998</span></li>
                  <li > <strong>Website: </strong> <span>Junttila.dev</span></li>
                  <li > <strong>Phone: </strong> <span>045 2065808</span></li>
                  <li><strong>Email: </strong> <span class="text-sm">Niko.Junttila@centria.fi</span></li>
                  
                </ul>
              </div>
              <div data-aos="fade-down"
              data-aos-duration="2000" class="grid mx-2" >
                <ul class="list-disc">
                  <li><strong>Age: </strong> <span>25</span></li>
                  <li><strong>Degree: </strong> <span>Student</span></li>
                  <li ><strong>City: </strong> <span>Kokkola, Finland</span></li>
                  <li><strong>Freelance: </strong> <span class="smaller">Available</span></li>
                </ul>
              </div>
            </div>
            <div data-aos="fade-up"
            data-aos-duration="2000" data-aos-delay="50" >
           <p >This website was made with angular,tailwindcss and firebase.</p>
           <p >all source codes can be found in my <a class="text-blue-500" href="https://github.com/NikoJunttila/">github</a> </p>
          </div> 
          </div>
        </div>
      </div>
    </div>
    <div  data-aos="fade-up"
    data-aos-duration="3000" data-aos-delay="100"  class="carousel-wrapper">
      <span id="item-1"></span>
      <span id="item-2"></span>
      <span id="item-3"></span>
      <span id="item-4"></span>
      <span id="item-5"></span>
      <h3>other projects</h3>
      <div class="carousel-item item-1">
        <figure class="hover-img">
          <video autoplay muted preload>
            <source src="https://i.imgur.com/hTNoAFy.mp4" width="100%" height="100%" type="video/mp4">
          </video>
        <figcaption>
            <h3> <a href="https://www.esanverhoilu.fi/">esanverhoilu.fi</a></h3>
              <p>Simple frontend site for small upholstery business: done with Next.js and framer</p>
          </figcaption>
         
        </figure>
        <a class="arrow arrow-prev" href="cv#item-5"></a>
        <a class="arrow arrow-next" href="cv#item-2"></a>
      </div>
      
      <div class="carousel-item item-2">
        <figure class="hover-img">
          <video autoplay muted preload>
            <source src="https://i.imgur.com/tLayTke.mp4" width="100%" height="100%" type="video/mp4">
          </video>
          <figcaption>
            <h3><a href="https://github.com/NikoJunttila/React-threejs-project">React project</a></h3>
            <p>React+threejs+framer portfolio</p>
          </figcaption>
        </figure>
        <a class="arrow arrow-prev" href="cv#item-1"></a>
        <a class="arrow arrow-next" href="cv#item-3"></a>
      </div>
      
      <div class="carousel-item item-3">
        <figure class="hover-img">
          <video autoplay muted preload>
            <source src="https://i.imgur.com/Rlil1SC.mp4" width="100%" height="100%" type="video/mp4">
          </video>
          <figcaption>
            <h3><a href="https://www.hyvinvointikeskusluxus.com/">hyvinvointikeskusluxus.fi</a></h3>
            <p>Fullstack web app with shop: done with sveltekit + node.js/express/mongodb</p>
          </figcaption>
        </figure>
        <a class="arrow arrow-prev" href="cv#item-2"></a>
        <a class="arrow arrow-next" href="cv#item-4"></a>
      </div>

      <div class="carousel-item item-4">
        <figure class="hover-img">
          <img src="https://i.imgur.com/U5hvijC.png">
          <figcaption>
            <h3><a href="https://github.com/NikoJunttila/pythoniconcompiler">Icon compiler</a></h3>
            <p>Python GUI made with pyqt: Used to create smaller icon sets from huge sets by reading src code and copying only needed icons</p>
            <p>Made for Centria</p>
          </figcaption>
        </figure>
        <a class="arrow arrow-prev" href="cv#item-3"></a>
        <a class="arrow arrow-next" href="cv#item-5"></a>
      </div>
      <div class="carousel-item item-5">
        <figure class="hover-img">
          <img src="https://i.imgur.com/URkJfZN.png">
          <figcaption>
            <h3><a href="https://github.com/NikoJunttila/headerCheck">Copyright header check</a></h3>
            <p>Golang CLI tool for checking copyright header in your code</p>
            <p>Made for Centria</p>
          </figcaption>
        </figure>
        <a class="arrow arrow-prev" href="cv#item-4"></a>
        <a class="arrow arrow-next" href="cv#item-1"></a>
      </div>
    </div>
</section>