<header id="header" class="flex flex-col justify-center">
    <nav id="navbar" class="nav-menu">
      <ul>
        <li><a href="fi#eka" class="nav-link "><i class="material-icons md-24">home</i> <span>Etusivu</span></a></li>
        <li><a href="fi#tietoa" class="nav-link"><i class="material-icons md-24">face</i> <span>Tietoa</span></a></li>
        <li><a href="fi#taidot" class="nav-link"><i class="material-icons md-24">computer</i> <span>Taidot</span></a></li>
        <li><a href="fi#ansioluettelo" class="nav-link"><i class="material-icons md-24">description</i> <span>Ansioluettelo</span></a></li>
        <li><a href="fi#yhteys" class="nav-link"><i class="material-icons md-24">mail</i> <span>Ota yhteyttä</span></a></li>
      </ul>
    </nav>
  </header> 