<main class="coolerthanme text-white flex flex-col items-center pb-2">
  <section class="mt-16 text-center size">
    <div *ngIf="!editMode; else editingName">
    <h1 class="text-5xl mt-2 mb-3">{{ workout?.name }}</h1>
    <h3 >{{ workout?.description }}</h3>
  </div>
  <ng-template  #editingName>
<div class="flex flex-col">
    <input [(ngModel)]="workout!.name" contenteditable="true" class="text-5xl mt-2 mb-3 text-center" />
    <textarea [(ngModel)]="workout!.description" class="min-h-fit" rows="7">{{ workout?.description }}</textarea>
    <button (click)="deleteWorkout()" class="btn hover:bg-black bg-gray-800 mt-1">Delete</button>
  </div>
  </ng-template>
    <button class="mt-2 mb-1 mybtn material-icons-outlined" (click)="goBack()">
      arrow_back
    </button>
    <h5 (click)="toggleEdit()" class="mt-5 hover:bg-[#A4BE7B]">Edit exercises <sup>only creator can do this*</sup></h5>
    <ul *ngFor="let plan of workout?.plans; index as j">
      <div
        routerLink="/gym/desc/1/WeGoJim"
        (click)="setWorkout(plan,j)"
        class="card bg-[#A4BE7B] div"
        *ngIf="!editMode; else editing"
      >
        <h3 class="text-lg">day {{ j + 1 }}: {{ plan.day }}</h3>
        <li *ngFor="let exercise of plan.exercises; let i = index">
          {{ i + 1 }}. {{ exercise.exercise }}
        </li>
      </div>
      <ng-template #editing>
        <div class="editBox border border-solid border-orange-500">
            <div class="flex justify-center items-center material-icons-outlined gap-4 text-4xl">
                <button class="hover:bg-[#A4BE7B] rounded" (click)="saveWorkout()">save</button>
                <button class="hover:bg-[#A4BE7B] rounded" (click)="toggleEdit()">undo</button>
            </div>
          <h3 class="text-lg">day {{ j + 1 }}: {{ plan.day }}</h3>
          <li *ngFor="let exercise of plan.exercises; let i = index">
            <textarea
              class="min-h-full smallerInputs"
              cols="14"
              [(ngModel)]="exercise.exercise"
            ></textarea>
            <div class="flex flex-col items-center pb-4">
              <span class="text-base"
                >reps:</span> <input class="smallerInputs" type="text" [(ngModel)]="exercise.reps"
              />
              <span class="text-base"
                >sets:</span> <input class="smallerInputs" type="number" [(ngModel)]="exercise.sets"
              />
              <span class="text-base"
              >weight(kg):</span>
              <input
              class="smallerInputs"
              type="number"
              placeholder="100"
              [(ngModel)]="exercise.weight"
              />
            </div>
          </li>
        </div>
      </ng-template>
    </ul>
    <div  (click)="copyWorkout()" *ngIf="(user | async)" class="h-[100px] bg-[#E86A33] mt-3 rounded flex justify-center items-center hover:bg-[#77924c] outliner">
      <p> copy workout and edit it.</p>
   </div>
  </section>
</main>
