.backBtn{
    font-size: 10px;
    margin-top: 5px;
    background-color: rgb(1, 21, 63);
    color: #4e4376;
    padding: 3px;
    border-radius: 10px;
    }
    .timercontainer{
        margin-top: 10px;
        width: 90%; 
        max-width: 500px;
        border: 2px solid rgb(72, 71, 71);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .timer{
        display: flex;
        font-size: 3rem;
        align-items: center;
        justify-content: center;
    }
    .workoutcontainercontainer{
        min-height: 100vh;
    }
    .done{
        background-color: #023b1a;
        color: black;
    }
    .done .overlinesoon{
        text-decoration: line-through;
    }
    .almostDone{
        background-color: #b48400;
        color: black;
    }
    .workoutcontainer{
        margin-top: 60px;
    }
    
    .workout{
        border: 1px solid rgb(72, 71, 71);
        padding: 5px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    @media(max-width:600px){
        .workout{
            width: 90vw;
        }
    }
    .workout > * {
        flex-basis: 33%;
    }
    .btn-hover {
        width: 200px;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        margin-top: 10px;
        height: 55px;
        text-align:center;
        border: none;
        background-size: 300% 100%;
        border-radius: 20px;
    }
    .btn-hover:hover {
        background-position: 100% 0;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    
    .btn-hover:focus {
        outline: none;
    }
    .btn-hover.color-8 {
        background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
        box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
    }
    .btn-hover2 {
        width: 60px;
        font-size: 10px;
        color: #fff;
        cursor: pointer;
        margin-top: 5px;
        height: 30px;
        text-align:center;
        border: none;
        background-size: 300% 100%;
        border-radius: 20px;
    }
    .btn-hover2:hover {
        background-position: 100% 0;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    
    .btn-hover2:focus {
        outline: none;
    }
    .btn-hover2.color-8 {
        background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
        box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
    }