#navbar{
    top:0;
    background-color: #2A303C;
    --tw-bg-opacity: 1;
}
li{
    list-style-type: none;
}
li:hover{
    background-color: #030d20;
    border-radius: 50px;
}
span:hover{
  background-color: #030d20;
  border-radius: 50px;
}
.vertical{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 10px;
}
button:hover{
    background-color: #030d20;
    border-radius: 50px;
}
.xdd{
    color: #43A047;
}
img:hover{
    opacity: 0.8;
}
img{
    background:
    linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000) border-box;
    border: 1px solid transparent;
    filter: drop-shadow(0px 0px 50px #b22cff);

}
/* .color-change-5x {
	-webkit-animation: color-change-5x 8s linear infinite alternate both;
	        animation: color-change-5x 8s linear infinite alternate both;
} */
.wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 2s  both;
	        animation: wobble-hor-bottom 2s  both;
}
/* @-webkit-keyframes color-change-5x {
    0% {
        filter: drop-shadow(0px 0px 50px #19dcea);
    }
    25% {
        filter: drop-shadow(0px 0px 50px #b22cff);

    }
    50% {
        filter: drop-shadow(0px 0px 50px #ea2222);
    }
    75% {
        filter: drop-shadow(0px 0px 50px #f5be10);
    }
    100% {
        filter: drop-shadow(0px 0px 50px #3bd80d);
    }
  }
  @keyframes color-change-5x {
    0% {
        filter: drop-shadow(0px 0px 50px #19dcea);
    }
    25% {
        filter: drop-shadow(0px 0px 50px #b22cff);

    }
    50% {
        filter: drop-shadow(0px 0px 50px #ea2222);
    }
    75% {
        filter: drop-shadow(0px 0px 50px #f5be10);
    }
    100% {
        filter: drop-shadow(0px 0px 50px #3bd80d);
    }
  } */
  @-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  @keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  