<div id="navbar" class="navbar w-screen fixed z-10">
    <div class="flex-1">
      <a href="https://github.com/NikoJunttila" class="btn btn-ghost"><img class="w-10 h-10" src="/assets/svg/github.svg" alt="github" /></a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1 text-gray-400">
        <li><a routerLink="">CV</a></li>
        <li>
         <a routerLink="gym">Gym</a>
        </li>
        <li><a routerLink="cooking">Cooking</a></li>
      </ul>
    </div>
  </div>