#navbar{
    top:0;
    background-color: #2A303C;
    --tw-bg-opacity: 1;
}
li{
    list-style-type: none;
}
li:hover{
    background-color: #030d20;
    border-radius: 50px;
}
.vertical{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 10px;
}
button:hover{
    background-color: #030d20;
    border-radius: 50px;
}
.xdd{
    color: #43A047;
}
img:hover{
    opacity: 0.8;
}
img{
    background:
    linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000) border-box;
    border: 1px solid transparent;

}