<div id="navbar" class="navbar w-screen max-h-[60px] fixed z-10">
  <div class="flex-1 text-gray-400">
   <!--  <a href="https://github.com/NikoJunttila" class="btn btn-ghost"
      ><img class="w-10 h-10" src="/assets/svg/github.svg" alt="github"
    /></a> -->
    <div class=" cursor-pointer flex" *ngIf="afAuth.user | async;else elseBlock">
      <button class="material-icons text-3xl px-1" routerLink="/dashboard">account_circle</button>
      <li class="pr-6 pl-1  cursor-pointer flex items-center" (click)="logout()"><span class="material-icons text-3xl">logout</span>
        <span class="vertical">logout</span></li>
    </div>
    <ng-template #elseBlock>
      <div class="xdd">
      <li class="pr-6 pl-1 cursor-pointer flex items-center" routerLink="login"><span class="material-icons text-3xl">login</span>
       <span class="vertical">log in</span></li>
      </div>
      </ng-template>

  </div>
  <div class="flex-none navigationSide">
    <ul class="menu menu-horizontal px-1 text-gray-400">
      <li><a routerLink="gym">Gym</a></li>
      <li><a routerLink="cooking">Cooking</a></li>
      <li><a routerLink="cv">CV</a></li>
    </ul>
  </div>
</div>
