<section class="derp bg-gray-800 flex flex-col items-center text-white gap-4">
  <div class="mt-16 holder">
    <label class="text-lg" for="categories">categories:</label>
    <select (click)="categories()" class="w-full mb-3 inputColor" name="categories" id="categories">
      <option value="all" >All</option>
      <option value="back">Back</option>
      <option value="chest">Chest/shoulders</option>
      <option value="legs">Legs</option>
      <option value="arms">Arms</option>
      <option value="abs">Abs</option>
    </select>
    <div class="content">
      <ul *ngFor="let exercise of exercises | customFilter : personal" class="">
        <li (click)="getName(exercise)" class="capitalize list mt-1 bg-gray-900">
          {{ exercise }}
        </li>
      </ul>
    </div>
  </div>
  <div class="mt-7">
    <input
      class="inputColor"
      type="text"
      id="name"
      [(ngModel)]="personal"
      placeholder="filter/add"
    />
    <button (click)="addNew()" class="myButton">add</button>
  </div>
  <div >
    <h2 class="text-lg text-center">selected exercises:</h2>
    <div>
      <ul class="flex flex-col justify-center items-center" *ngFor="let workout of newWorkout">
        <li class="selected">
          <div class="mr-auto"><span>{{ workout.name }} </span></div>
          <div class="flex"> <span>Sets: {{ workout.sets }}</span>
          <span (click)="setsPlus(workout)" class="material-icons-outlined buttons">
            add
          </span>
          <span (click)="setsMinus(workout)" class="material-icons-outlined buttons">
            remove
          </span>
        </div>
        <div class="flex">
          <span>Reps: {{ workout.reps }}</span>
          <span (click)="repsPlus(workout)" class="material-icons-outlined buttons">
            add
          </span>
          <span (click)="repsMinus(workout)" class="material-icons-outlined buttons">
            remove
          </span>
        </div>
          <span (click)="delete(workout)" class="material-icons-outlined buttons">
            delete
          </span>
        </li>
      </ul>
    </div>
  </div>
  <button class="myButton2 mb-2"   type="button" (click)="start()">
    Start workout
  </button>
  <button routerLink="/gym" class="myButton3">go back</button>
</section>
