.holder{
    height: 250px;
}
.content{
    height: 224px;
    width: 260px;
    overflow: auto;
}
.derp{
    min-height: 100vh;

}
.myButton {
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#1d5462;
	margin-left: 5px;
	font-size:13px;
	padding:7px 20px;
	text-decoration:none;
}
.myButton:hover {
	background: black;
    color:whitesmoke;
}
.myButton:active {
	position:relative;
	top:1px;
}
.list{
    border: #e1e2ed;
    border-radius: 20px;
    text-align: center;
}
.list:hover{
    background: rgb(0,0,0);
    color: whitesmoke;
}
.selected{
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
    margin-top: 5px;
    min-height: 35px;
    width: 97vw;
    text-align: center;
    display: flex;
    border-radius: 10px;
    padding: 10px 10px;
    gap: 5px;
}
.selected > * {
    flex-basis: 25%;
}
.inputColor{
    background:#302c34;
}
@media(max-width:700px){
    .selected{
        font-size: 15px;
    }
}
.selected:hover{
    background: rgb(0,0,0);

    color: whitesmoke;
}
.buttons{
    cursor:pointer;
}
.buttons:hover{
    color: rgb(70, 94, 250);
}

.myButton2 {
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#1d5462;
	font-size:17px;
	padding:10px 25px;
	text-decoration:none;
}
.myButton2:hover {
	background: black;
    color:whitesmoke;
}
.myButton2:active {
	position:relative;
	top:1px;
}
.myButton3 {
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#1d5462;
	padding: 10px 25px;
	text-decoration:none;
}
.myButton3:hover {
	background: black;
    color:whitesmoke;
}