<section id="tietoa" class="about mt-5 pb-6">
    <div>
        <h1 class="underline underline-offset-auto text-center text-5xl text-white title-font">Tietoa</h1>
        <div class="hero text-white mt-20">
            <div  class="hero-content p-0 flex-col lg:flex-row">
              <img  data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-easing="ease-in-out"
              data-aos-anchor-placement="top-center" src="/assets/img/derp.webp" class="max-w-sm rounded-lg shadow-2xl image" />
              <div class="content ml-3">
                <h2 data-aos="zoom-in>"
                data-aos-duration="2000" class="mb-10 text-4xl ml-2  fade">Ohjelmistokehittäjä</h2>
                <div  class="container m-auto grid grid-cols-2">
                  <div data-aos="fade-up"
                  data-aos-duration="3000" class="grid m-2">
                    <ul class="list-disc">
                      <li > <strong>Syntymäpäivä: </strong> <span>29.1.1998</span></li>
                      <li > <strong>Nettisivu: </strong> <span>portfolio-5756d.web.app</span></li>
                      <li > <strong>Puh. Num: </strong> <span>045 2065808</span></li>
                      <li ><strong>Kaupunki: </strong> <span>Kokkola, Suomi</span></li>
                    </ul>
                  </div>
                  <div data-aos="fade-down"
                  data-aos-duration="3000" class="grid m-2" data-aos="fade-up" data-aos-duration="3000">
                    <ul class="list-disc">
                      <li><strong>Ikä: </strong> <span>25</span></li>
                      <li><strong>Tutkinto: </strong> <span>Tieto- ja viestintätekniikan opiskelija</span></li>
                      <li><strong>S-posti: </strong> <span class="text-sm">Niko.Junttila@centria.fi</span></li>
                      <li><strong>Freelance: </strong> <span>Avoinna</span></li>
                    </ul>
                  </div>
                </div>
                <div data-aos="fade-up"
                data-aos-duration="3000"data-aos-delay="50" >
               <p >Tämä netti sivu on tehty angularilla ja firebasella.</p>
                <p>Toisia tekemiäni sivuja:</p> 
                <p> <a href="https://esanverhoilu.fi">esanverhoilu.fi </a>frontend sivu: tehty => Next.js ja framer </p>
                <p><a href="https://www.hyvinvointikeskusluxus.com/">hyvinvointikeskusluxus.fi</a> fullstack sivu:  tehty => react.js/redux + node.js/express/mongodb</p>
               <p >Lähde koodit löytyy täältä: <a href="https://github.com/NikoJunttila/">github</a> </p>
              </div> 
              </div>
            </div>
          </div>
        </div>
    </section>