<section class="flex header">
    <div class="text">
        <p>free and effective workouts so you don't need to spend money on personal trainers</p>
    <p>I have close to a decade of experience from gym training and can recommend these workouts</p>
    <div class="dropdown">
        <label tabindex="0" class="btn bg-[#E86A33] hover:bg-[#4A148C] text-white m-1">feedback</label>
        <div tabindex="0" class="dropdown-content card card-compact w-64 p-2 shadow bg-[#A4BE7B] text-primary-content">
          <div class="card-body ">
            <textarea id="feedback" class="textarea min-h-[110px] textarea-primary text-black outline-none bg-[#E5D9B6]"
             placeholder="ideas for new functions for example or complaints"></textarea>
            <button (click)="addFeedback()" class="border-2 border-solid border-cyan-200 p-2 rounded-md bg-[#E86A33] hover:bg-[#4A148C]">send</button>
          </div>
        </div>
      </div>
    </div>
    <div class="relative flex justify-center items-center">
       <img class="min-h-full max-w-[50vw] customOutline max-h-[85vh]" src="{{quote?.image}}" alt="quote" >
      
      <div class=" max-h-[50%] max-w-[80%] text-white absolute left-0 top-0 right-0 bottom-0 m-auto ">
        <div class="fadedBlack">
            <q>{{quote?.text}}</q>
<p class="font-bold">-{{quote?.author}}</p>
</div>
        </div>
    </div>
</section>