.header{
min-height: 50vh;
} 

.customOutline{
    outline: 2px solid #E86A33;
}
.text{
    flex-basis: 100%;
    margin-top: auto;
margin-bottom: auto;
text-align: center;
font-size: 1rem;
}
p{
    font-size: 1.2rem;
    margin-right: 5px;
}
.fadedBlack{
    background-color: rgba(0, 0, 0, 0.5);
}
q{
    font-size: 1.3rem;
}
@media(max-width:600px){ 
q{
    font-size: 0.9rem;
    line-height: 1.5rem;
}
p{
    font-size: 1rem;
}
}