.header{
min-height: 50vh;
} 
.text{
    flex-basis: 100%;
    margin-top: auto;
margin-bottom: auto;
text-align: center;
font-size: 1rem;
}
p{
    margin-right: 5px;
}
.img{
    flex-basis: 100%;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center center;
}
.fadedBlack{
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    )
}
@media(max-width:600px){ 
q{
    font-size: 1.2rem;
    line-height: 1.5rem;
}
span{
    font-size: 1.2rem;
}
}