<section class="flex header">
    <div class="text">
        <p>free and effective workouts so you don't need to spend money on personal trainers</p>
    <p>I have close to a decade of experience from gym training and can recommend these workouts</p>
    <div class="dropdown">
        <label tabindex="0" class="btn bg-blue-900 hover:bg-[#4A148C] text-white m-1">feedback</label>
        <div tabindex="0" class="dropdown-content card card-compact w-64 p-2 shadow bg-[#4A148C] text-primary-content">
          <div class="card-body ">
            <textarea id="feedback" class="textarea textarea-primary bg-[#263238]"
             placeholder="ideas for new functions for example or complaints"></textarea>
            <button (click)="addFeedback()" class="border-2 border-solid border-cyan-200 p-2 rounded-md bg-[#303F9F] hover:bg-[#1A237E]">send</button>
          </div>
        </div>
      </div>
    </div>
    <div class="img flex justify-center items-center">
        <div class="text-2xl ml-2 mr-2 text-white">
            <q>{{quote?.text}}</q>
<p class="font-bold">-{{quote?.author}}</p>
        </div>
    </div>
</section>