<section>
  <div class="mb-2 flex gap-1">
    <button *ngIf="show" class="ml-[7%] flex text-base" (click)="sortHigLow()">Sort <span class="material-icons">arrow_upward</span></button>
    <button *ngIf="!show" class="ml-[7%] flex text-base" (click)="sortLowHigh()">Sort <span class="material-icons">arrow_downward</span></button>
    <div class="ml-[35%] flex gap-2">
    <span class="tags" *ngFor="let tag of filter">{{tag}}</span>
  </div>
  </div>
  <div class="flex gap-4 flex-wrap justify-center " *ngIf="arrOfany && arrOfany.length > 0;else other_content">
  <div
    *ngFor="let meal of arrOfany"
    class="flex flex-col mb-3 list cursor-pointer"
    routerLink="{{ meal.id }}"
  >
    <div class="relative">
      <img src="{{ meal.img }}" alt="meal"/>
      <div class="inside">
      <span class="ml-2 text-lg"> {{ meal.name }}</span>
    </div>
    </div>
    <div class="ml-1 flex gap-1 items-center mt-2">
      <span class="material-icons text-yellow-500">star</span><span class="mr-2 text-xl">{{meal.rating}}</span>
      <span class="tags" *ngFor="let tag of meal.tags">{{ tag }}</span>
    </div>
  </div>
</div>
  <ng-template #other_content><h1 class="text-center">nothing matches these filters. try to remove some.</h1></ng-template>
</section>
