.coolerthanme{
    min-height: 100vh;
    background-color: #E5D9B6;
    color:black;
}
.size{
    max-width: 95%;
}
.div{
    outline: 2px solid #E86A33;
    color:black;
}
.div:hover{
    background: #77924c;
}
ul{
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.mybtn{
    background: #E86A33;
    border-radius: 5px;
    padding: 7px 20px;
}
.mybtn:hover{
    background-color: rgb(43, 2, 2);
}