section{
/*     background-image: url("https://e0.pxfuel.com/wallpapers/266/233/desktop-wallpaper-black-and-white-hall-rod-gym-fitness-for-section-%D1%81%D0%BF%D0%BE%D1%80%D1%82-gym-black.jpg");
 */    background-size: cover;
 background-color: black;
    color:whitesmoke;
    font-size: 1rem;
    min-height: 100vh;
}
input{
    color:whitesmoke;
     background-color: #212121;
}

.bigger{
    padding: 10px 0;
    background-color: darkgreen;
    margin-top: 1rem;
}
.bigger:disabled{
 background-color: darkred;   
}

form {
    border: 3px royalblue solid;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input[type=text],
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #212121;
  }
  
  form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
  }
  
  form button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  form .form-group {
    margin-bottom: 20px;
  }
  
  form .form-group label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  form .form-group input[type=text] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 5px;
  }
  
  form .form-group select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 5px;
  }
  
  form .form-group button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  form .form-group button:hover {
    background-color: #3e8e41;
  }
  .plans{
    border: 2px rgb(255, 149, 0) solid;
  }
  .exercises{
    margin: 5px 5px;
    border: 2px rgb(65, 2, 2) solid
  }
  .smoll{
    max-width: 10ch;
    height: 1ch;
  }