section{
/*     background-image: url("https://e0.pxfuel.com/wallpapers/266/233/desktop-wallpaper-black-and-white-hall-rod-gym-fitness-for-section-%D1%81%D0%BF%D0%BE%D1%80%D1%82-gym-black.jpg");
 */ overflow: hidden;
    min-height: 100vh;
}
 input{
    color:whitesmoke;
     background-color: #212121;
}

.bigger{
    padding: 10px !important;
    background-color: darkgreen;
}
.bigger:disabled{
 background-color: darkred;   
}
  .smoll{
    max-width: 10ch;
    height: 1ch;
} 
.content{
    height: 224px;
    width: 260px;
    overflow: auto;
}
.list{
    border: #e1e2ed;
    border-radius: 20px;
    text-align: center;
}
.list:hover{
    background: rgb(0,0,0);
    color: whitesmoke;
}
.selected{
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
    margin-top: 5px;
    min-height: 40px;
    text-align: center;
    border-radius: 10px;
    width: fit-content;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    gap: 2px;
}

.inputColor{
    background:#302c34;
}
.selected:hover{
    background: rgb(0,0,0);

    color: whitesmoke;
}
.buttons{
    cursor:pointer;
}
.buttons:hover{
    color: rgb(70, 94, 250);
}
@media(max-width:600px){
  .columsOnMiddle{
    flex-direction: column;
  }
}
.btn-gradient-2 {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  cursor: pointer;
  background: linear-gradient(rgb(103, 5, 13), rgb(20, 9, 119)) padding-box,
              linear-gradient(to right, rgb(172, 18, 18), darkorchid) border-box;
  border-radius: 50em;
  border: 1px solid transparent;
}
button:hover{
opacity: 0.7;
}