<section
  *ngIf="meal; else other_content"
  class="flex justify-center text text-white"
>
  <div class="max-w-6xl flex flex-col items-center justify-center">
    <button class="myButton mb-3 material-icons-outlined" (click)="goBack()">
      arrow_back
    </button>
    <div class=" flex flex-col items-center">
      <img src="{{ meal.img }}" />

    <h1 class="bigger text-center">
      {{ meal.name
      }} </h1>
    <div>  <span class="material-icons text-yellow-500 ml-5 translate-y-1"
        >star</span><span class="mr-2 text-xl">{{ meal.rating }}</span></div>
   
    <div class="mb-4">
      <p class="text-center my-1">time to make:{{ meal.time }}</p>
      <h3 class="mb-2">
        ingredients:<button
          (click)="test()"
          *ngIf="!added"
          class="ml-4 myButton paddingNo"
        >
          add to shopping list
        </button>
        <span class="ml-2" *ngIf="added">added to list</span>
      </h3>
      <div class="calculate my-3">
        <button class="material-icons-outlined" (click)="minus()">remove</button
        ><span class="px-3">portions:{{ kerroin }}</span
        ><button class="material-icons-outlined" (click)="plus()">add</button>
      </div>
    </div>
      <fieldset class="ml-4 mb-4">
        <div *ngFor="let stuff of meal.ingredients">
            <input
              type="checkbox"
              id="{{ stuff.name }}"
              name="ingredients"
              value="{{ stuff.name }}"
            />
            <label class="cursor-pointer" for="{{ stuff.name }}">
             <li>{{stuff.amount | number: "1.0-3"}} {{stuff.what}}<span class="ml-3">{{ stuff.name }}</span></li></label
          >
        </div>
      </fieldset>
      <!--   <li class="mb-1" *ngFor="let stuff of meal.ingredients">
            <span>{{stuff.amount | number: "1.0-3"}}{{stuff.what}}</span><span class="ml-2">{{stuff.name}}</span>
        </li> -->
    </div>
    <fieldset class="ml-4 mb-4">
      <div class="mb-2" *ngFor="let how of meal.howTo; index as i">
        <input type="checkbox" id="{{ how }}" name="how" value="{{ how }}" />
        <label class="cursor-pointer" for="{{ how }}"
          >{{ i + 1 }}. {{ how }}</label
        >
      </div>
    </fieldset>
  </div>
</section>
<ng-template #other_content>
  <div class="loading-container">
    <div class="loading"></div>
    <div id="loading-text">loading</div>
</div>
</ng-template>
