<section *ngIf="meal;else other_content" class="flex flex-col items-center text text-white" >
    <button class="myButton mb-3" (click)="goBack()">go back</button>
    <h1 class="text-2xl text-center">{{meal.name}}</h1>
    <div class="mb-4">
        <p class="text-xl text-center">time to make:{{meal.time}}</p>
        <h3 class="text-xl mb-2">ingredients:<button (click)="test()" *ngIf="!added" class="ml-4 myButton paddingNo">add to shopping list</button>
            <span class="ml-2" *ngIf="added">added to list</span></h3>
        <li class="mb-1" *ngFor="let stuff of meal.ingredients">
            {{stuff}}
        </li>
    </div>
    <div class="mb-4">
        <p class="ml-2 mb-2 text-lg" *ngFor="let how of meal.howTo;index as i">
            {{i + 1}}. {{how}}
        </p>
    </div>
    <img src="{{meal.img}}"/>
</section>
<ng-template #other_content>something went wrong please try again</ng-template>


