<section>
    <div class="gridder ml-2 mt-5">
   <div *ngFor="let plan of plans" class="grid-ish bg-slate-600">
        <h2 class="">{{plan.name}}</h2>
        <p class="text-sm">{{plan.days}} days/week</p>
        <p class="text">{{plan.description}}</p>
        <button type="button" routerLink="desc/{{plan.id}}" class="glow-on-hover mt-auto mb-2">Show more</button>
    </div>
</div>
<div class="single flex justify-center items-center">
<button routerLink="new" class="glow-on-hover" type="button">make your own single workout tracker</button>
</div>
</section>