<section
  id="skills"
  class="skills grid items-center justify-center text-white h-screen w-screen mb-5"
>
  <div class="text-center text-white">
    <h1 class="underline underline-offset-auto text-6xl pt-5 pb-5 title-font">Skills</h1>
  </div>
  <div class="container text-2xl">
    <div
      data-aos="fade-up"
      data-aos-offset="200"
      data-aos-duration="1000"
      class="header text-center"
    >
      Relevant web development skills
    </div>
    <div
      data-aos="fade-up-left"
      data-aos-duration="1000"
      class="irrelevant pt-5"
    >
      <mat-accordion>
        <mat-expansion-panel class="bg-blue-700 text-white" hideToggle>
          <mat-expansion-panel-header >
            <mat-panel-title > Click to expand </mat-panel-title>
            <mat-panel-description >
              technologies with some experience
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="flex w-full">
            <div
              class="grid h-6/6 flex-grow card bg-blue-900 rounded-box place-items-center"
            >
              <ul>
                <li>Odin</li>
                <li>Python</li>
                <li>REST API:s</li>
                <li>AZURE</li>
                <li>AWS</li>
              </ul>
            </div>
            <div class="divider divider-horizontal"></div>
            <div
              class="grid h-6/6 flex-grow card bg-blue-900 rounded-box place-items-center"
            >
              <ul>
                <li>Docker</li>
                <li>NoSQL</li>
                <li>SQL</li>
                <li>RXJS</li>
              </ul>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div data-aos="fade-right" data-aos-duration="2000" class="left ml-10">
      <ul class="list-disc">
        <li>Svelte</li>
        <div class="mr-5">
          <span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span>
          <span class="material-icons md-24"> grade </span>
        </div>
        <li>React.js</li>
        <div class="mr-5">
          <span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span>
          <span class="material-icons md-24"> star_half </span>
        </div>
        <li>Angular</li>
        <div class="mr-5">
          <span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span>
          <span class="material-icons-outlined md-24"> grade </span>
        </div>

        <li>HTML</li>
        <div class="mr-5">
          <span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span>
          <span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span>
        </div>

        <li>CSS</li>
        <div class="mr-5">
          <span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span>
          <span class="material-icons md-24"> grade </span>
          <span class="material-icons-outlined md-24"> grade </span>
        </div>
        <li>Tailwindcss</li>
        <div class="mr-5">
          <span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span>
          <span class="material-icons-outlined md-24"> grade </span>
          <span class="material-icons-outlined md-24"> grade </span>
        </div>
      </ul>
    </div>
    <div data-aos="fade-left" data-aos-duration="2000" class="right ml-10">
      <ul class="list-disc">
        <li>Go</li>
        <div>
          <span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span>
          <span class="material-icons md-24"> grade </span>
          <span class="material-icons md-24"> grade </span>
        </div>
        <li>Node.js</li>
        <div>
          <span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span>
          <span class="material-icons md-24"> grade </span>
          <span class="material-icons-outlined md-24"> grade </span>
        </div>
        <li>JavaScript</li>
        <div>
          <span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span>
          <span class="material-icons md-24"> grade </span>
          <span class="material-icons-outlined md-24"> grade </span>
        </div>
        <li>Mongodb</li>
        <div>
          <span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span>
          <span class="material-icons-outlined md-24"> grade </span>
          <span class="material-icons-outlined md-24"> grade </span>
        </div>
        <li>GIT</li>
        <div>
          <span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span>
          <span class="material-icons md-24"> grade </span>
          <span class="material-icons-outlined md-24"> grade </span>
        </div>
        <li>PostgreSQL</li>
        <div>
          <span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span>
          <span class="material-icons-outlined md-24"> grade </span>
          <span class="material-icons-outlined md-24"> grade </span>
        </div>
        <li>Firebase</li>
        <div>
          <span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span
          ><span class="material-icons md-24"> grade </span>
          <span class="material-icons-outlined md-24"> grade </span>
          <span class="material-icons-outlined md-24"> grade </span>
        </div>
      </ul>
    </div>
  </div>
</section>
