<section class="h-screen bg-slate-900 flex justify-center items-center flex-col text-white">
    <div>
        <ul *ngFor="let workout of workoutz">
          <li class="mt-3" *ngIf="!workout.done" [class.almostDone]="0 < workout?.setsDone! && workout?.setsDone! < workout?.sets! " [class.done]="workout?.sets! <= workout?.setsDone!">
            {{ workout.name | uppercase }}
            <span >{{ workout.sets }}x</span>
            <span >{{ workout.reps }}</span>
            <p>Done: {{workout.setsDone}}/{{workout.sets}}<span (click)="counterPlus(workout)">+</span>
            <button (click)="setDone(workout)" *ngIf="workout?.sets! <= workout?.setsDone!"> remove</button>
        </p>
          </li>
        </ul>
      </div>
      <div class="mt-20">
       <p>  minutes:{{minutes}} seconds: {{seconds}}
          <span (click)="addTime()">+</span><span (click)="decreaseTime()">-</span> </p> 
        <button (click)='startTimer()'>Start</button>
<button class="" (click)='resetTimer()'>Reset</button>
      </div>
    <button class="text-6xl mt-20 " (click)="reset()">reset</button>
</section>
