<section
  class="workoutcontainercontainer bg-[#E5D9B6] flex justify-center items-center flex-col text-black pb-2"
>
  <div class="workoutcontainer text-center">
    <div *ngIf="userLower.length > 1 && !startedTotalTimer">
      <button class="color-7" (click)="optionalStartTime()">
        Start workout timer
      </button>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-circle btn-ghost btn-xs text-info">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="w-4 h-4 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
        </label>
        <div
          tabindex="0"
          class="card compact dropdown-content shadow bg-base-100 rounded-box w-64"
        >
          <div
            class="card-body bg-[#210b56] border-2 border-solid border-red-500"
          >
            <h2>
              Start workout here if you want accurate time else just continue
              with exercises and it will automatically start and add 10min for
              warm up time.
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div cdkDropList (cdkDropListDropped)="drop($event)">

      <ul
      class="ml-3 mr-3"
      *ngFor="let workout of workoutz?.exercises; index as i"
      >
      <div cdkDrag cdkDragDisabled class="relative" *ngIf="!workout.editing; else editing">
        <li
        class="mt-2 workout"
        *ngIf="!workout.done"
        [@fadeOutOnLeave]
        [class.almostDone]="
            0 < workout?.setsDone! && workout?.setsDone! < workout?.sets!
            "
          [class.done]="workout?.sets! <= workout?.setsDone!"
          >
          <span
          routerLink="/gym/info/{{ workout.exercise }}"
          class="overlinesoon cursor-pointer text-blue-700"
          >{{ workout.exercise | uppercase }} {{ workout.sets }}x{{
            workout.reps
          }}
            <span *ngIf="workout.weight">{{ workout.weight }}kg</span>
          </span>
          <span>Done: {{ workout.setsDone }}/{{ workout.sets }}</span>
          <div class="flex justify-end">
            <button
            class="material-icons-outlined cursor-pointer mr-5"
            (click)="counterPlus(workout)"
            *ngIf="workout?.sets! > workout?.setsDone!"
            >
            add_circle
          </button>
          <button
          class="material-icons-outlined cursor-pointer mr-5"
          (click)="setDone(workout)"
          *ngIf="workout?.sets! <= workout?.setsDone!"
          >
          delete
        </button>
        <button
        (click)="onExerciseEdit(i)"
        class="material-icons-outlined cursor-pointer"
        >
        edit
      </button>
    </div>
  </li>
</div>
<ng-template #editing>
  <div cdkDrag class="editBox">
    <textarea
    class="min-h-full"
    cols="14"
    [(ngModel)]="workout.exercise"
    ></textarea>
    <div class="grid">
      <span class="text-base"
      >reps: <input type="text" [(ngModel)]="workout.reps"
      /></span>
      <span class="text-base"
      >sets: <input type="number" [(ngModel)]="workout.sets"
      /></span>
    </div>
    <span class="text-base"
    >weight(kg):
    <input type="number" placeholder="100" [(ngModel)]="workout.weight"
    /></span>
    <button
    (click)="onExerciseSave(i)"
    class="mr-auto material-icons-outlined cursor-pointer"
    >
    save
  </button>
</div>
</ng-template>
</ul>
</div>
</div>
  <div class="flex flex-col items-center mt-1 h-fit">
    <div class="flex justify-center">
      <span>add notes or extra training done today</span>
      <button
        type="button"
        class="material-icons-outlined ml-2 text-[#00695C]"
        (click)="testeri()"
      >
        note_add
      </button>
    </div>
    <textarea
      class="border border-dashed border-[#E86A33] "
      *ngIf="showTextArea"
      placeholder="notes"
      rows="3"
      cols="40"
      [(ngModel)]="workoutz!.notes"
    >
    </textarea
    ><br />
  </div>
  <button
  *ngIf="userLower.length > 1 && showAdd"
  class="color-7"
  (click)="setAsCompleted()"
>
  Save workout
</button>
  <div class="timercontainer">
    <div class="timer">
      <div class="pr-5 min-w-[150px]">
        <button
          *ngIf="playAudio === play"
          (click)="mute()"
          class="material-icons-outlined cursor-pointer mr-3"
        >
          volume_up
        </button>
        <button
          *ngIf="playAudio === muteVoice"
          (click)="unMute()"
          class="material-icons-outlined cursor-pointer mr-3"
        >
          volume_off
        </button>
        {{ minutes }}:{{ seconds }}
      </div>
      <div class="mr-auto">
      <button
        class="material-icons-outlined cursor-pointer mr-2"
        (click)="addTime()"
      >
        add_circle</button
      ><button
        class="material-icons-outlined cursor-pointer"
        (click)="decreaseTime()"
      >
        do_not_disturb_on
      </button>
    </div>
    </div>
    <div class="mt-1">
      <button
        class="material-icons-outlined cursor-pointer mr-2"
        (click)="startTimer()"
      >
        play_circle
      </button>
      <button
        class="material-icons-outlined cursor-pointer"
        (click)="resetTimer()"
      >
        refresh
      </button>
    </div>
  </div>
  <button
    class="bg-[#E86A33] rounded-xl p-4 my-2 hover:bg-[#7e3212]"
    (click)="reset()"
  >
    reset workout
  </button>
  <button
    (click)="goBack()"
    class="bg-[#E86A33] rounded-xl p-4 my-2 hover:bg-[#7e3212] material-icons-outlined"
  >
    arrow_back
  </button>
  <p class="text-xs text-center mt-1" *ngIf="userLower.length < 2">
    btw: if you login you can save workouts and track your progress better
  </p>
</section>
