.menuImg{
    width: 200px;
    height: 200px;
    border: 1px solid black;
/*     max-width: 60px;
    max-height: 60px; */
}
.borderStuff{
    border-bottom: 1px solid black;
}
.menuImg:hover{
border: 2px green dotted;
}
#movepls{
    transform: translate(-45%,0);
}

  .btn-gradient-2 {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    cursor: pointer;
    background: linear-gradient(rgb(103, 5, 13), rgb(20, 9, 119)) padding-box,
                linear-gradient(to right, rgb(172, 18, 18), darkorchid) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
    filter: drop-shadow(5px 1px 15px #692626);
}
button:hover{
    background-color: rgb(9, 9, 44);
    opacity: 0.8;
}
section{
    min-height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(306deg, rgba(0,0,0,1) 0%, rgba(0,75,97,1) 50%, rgba(93,4,13,1) 100%);
}
h1{
 font-size: 1.5rem;
 font-style: bold;
}
h3{
font-size: 1.2rem;
text-align: center;
}
li{
list-style-type: none;
font-size: 1rem;
background:#311B92;
}
li:nth-child(even) {
background:#4A148C;
}
.full{
    border: 2px #880E4F solid;
    border-radius: 10px;
    height: fit-content;
    overflow: hidden;
    width: 50%;
    max-width: 600px;
}
.holder{
    max-height: 70vh;
    width: 48%;
    overflow: hidden;
}
.content{
    max-height: 100%;
    width: 100%;
    overflow: auto;
    border-radius: 5px;
    border: 1px #880E4F solid;
}
.contentIMGS{
    max-height: 100%;
    width: 100%;
    overflow: auto;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid rebeccapurple;
}
img{
    max-width: 90vw;
    max-height: 400px;
}

@media only screen and (max-width: 750px){
    .contentIMGS{
        grid-template-columns: 1fr 1fr;
    }
    .menuImg{
        width: 150px;
        height: 150px;
    }
    #movepls{
        transform: translate(-20%,0);
    }
}
@media (min-width:1600px){
    .contentIMGS{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 3px 12px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #880E4F;
}
.custom-file-upload:hover{
    background-color: rgb(9, 9, 44);
    opacity: 0.8;
}
@media only screen and (max-width: 500px){
    #movepls{
        transform: translate(5%,0);
    }
}