<section class="pt-[60px] flex flex-col items-center text-white bg-slate-600">
    <ul class="mt-2" *ngIf="(user | async)">
        <li>Account Type: {{ (user | async)?.accountType }}</li>
        <li>Display Name: {{ (user | async)?.displayName }}</li>
        <li>Display Name (lower): {{ (user | async)?.displayName_lower }}</li>
        <li>Email: {{ (user | async)?.email }}</li>
        <li>Email (lower): {{ (user | async)?.email_lower }}</li>
        <li>Email Verification Status: {{ (afAuth.user | async)?.emailVerified }}</li>
    </ul>   
    <div class="flex gap-6 mt-5" *ngIf='(user | async)?.accountType == "admin"'>
    <button routerLink="/settings/recipe">add recipes</button>
    <button routerLink="/settings/workout">add workout</button>
    <button  routerLink="/settings">idk yet</button>
</div> 
    <div>
        *extremely incomplete atm*<br />
        done workouts:
        <div *ngFor="let workout of done; index as i">
            <h2>{{workout.name}}</h2>
            <h3>{{workout.date}}</h3>
            <div>
            <h3>{{workout.time}}</h3>
            <ul>
                <li *ngFor="let exercise of workout.exercises">
                    {{exercise.exercise}}reps:{{exercise.reps}} sets:{{exercise.setsDone}}
                </li>
            </ul>
        </div>
        </div>
    </div>

<button (click)="test()">testiii</button>
</section>