<section class="pt-[60px] flex flex-col text-white pb-12">
 
<div class="flex mt-2 items-center flex-col">
  <button (click)="goBack()" class="material-icons-outlined py-3 px-8 btn-gradient-2">arrow_back</button>
    <h1>{{(user | async)?.displayName}}</h1>
<div class="flex mb-3">
  <div class="dropdown dropdown-bottom">
    <label tabindex="0" class="btn m-1">Change profile img</label>
    <div id="movepls" tabindex="0" class="dropdown-content card card-compact p-2 holder bg-[#350883]  text-primary-content">
        <div  class="contentIMGS">
          <div class="card" *ngFor="let image of profImages">
            <img class="menuImg" alt="profImg" [src]="image.downloadURL" (click)="updateProfileImage(image.downloadURL)"/>
          </div>
        </div>
    </div>
  </div>
  <label for="file-upload" class="custom-file-upload ">
    <span class="material-icons-outlined translate-y-2">
      cloud_upload 
      </span> <span> custom Upload</span>
</label>
<input id="file-upload" type="file" class="" (change)="uploadFile($event)">
</div>
    <img  [src]="imgURL" />
</div>
  <div class="flex mt-3 ml-2 justify-center ">
    <div class="holder">
      <div class="flex justify-center items-center">
      <h1 >workouts done :</h1> 
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-circle btn-ghost btn-xs text-info">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-4 h-4 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
        </label>
        <div tabindex="0" class="card compact dropdown-content shadow bg-base-100 rounded-box w-64">
          <div class="card-body bg-[#512DA8] border-2 border-solid border-red-500">
            <p>
              Timer might not work correctly depending on your browser. Works on atleast chrome/firefox
            </p>
          </div>
        </div>
      </div>
    </div>
      <h3 *ngIf="done.length == 0">you haven't saved any workouts yet.<br />once you do they will show here</h3>
      <div class="pb-2">
     <span>total time spent aprox:<br />{{timeSpentHours}} hours {{ timeSpentMinutes }} minutes </span>
     <p>Avg time: {{avg}} minutes</p>
     <p class="text-xs">items marked with ** have notes</p>
     <div class="flex items-center">
    sort:<span (click)="sortLatestFirst()" class="material-icons-outlined cursor-pointer">
        arrow_upward
        </span><span (click)="sortOldestFirst()" class="material-icons-outlined cursor-pointer">
            arrow_downward
            </span>
        </div>
</div>
      <div class="content">
        <li
          class="list-none cursor-pointer"
          *ngFor="let workout of done; index as i"
        >
          <span (click)="showFull(i)">
            <div class="flex h-full">
              <span class="bg-blue-900 mr-1 w-[2ch] text-center"
                >{{ i + 1 }}.</span
              >
               <span> {{ workout.day }} {{ workout.date.toDate() | date:'d/M/yy'  }}<span *ngIf="workout.notes">**</span></span>
           </div>
          </span>
        </li>
      </div>    </div>
    <div class="ml-2 mr-1 bg-[#1A237E] full" *ngIf="workoutToShow">
      <div class="pb-2">
        <h3>{{ workoutToShow.day }}</h3>
        <h3>{{ workoutToShow.date.toDate() | date:'d MMM, y, h:mm:ss a' }}</h3>
        <h3>aprox: {{ workoutToShow.aproxTime }} minutes</h3>
      </div>
      <li class="" *ngFor="let exercise of workoutToShow.exercises">
       <div class="ml-1"> <span class="mr-1"> {{ exercise.exercise }} <span *ngIf="exercise.weight">{{exercise.weight}}kg</span></span>
        {{ exercise.setsDone }}x{{ exercise.reps }}</div>
      </li>
      <div class="pb-1 pt-1 text-center bg-[#006064]" *ngIf="workoutToShow.notes">{{workoutToShow.notes}}</div>
    </div>
  </div>
  <div class="w-full grid place-items-center">
  <button routerLink="/settings/workout" class="mt-2 border-2 border-solid border-cyan-400 w-5/6 max-w-[600px] rounded px-2">Create new workout</button>
</div>
  <div class="flex gap-6 mt-5" *ngIf='(user | async)?.accountType == "admin"'>
    <button routerLink="/settings/recipe">add recipes</button>
    <button  routerLink="/settings">idk yet</button>
</div>  
</section>