<section class="h-screen pt-[60px] flex flex-col items-center text-white bg-slate-600">
    <ul class="mt-2" *ngIf="(user | async)">
        <li>Account Type: {{ (user | async)?.accountType }}</li>
        <li>Display Name: {{ (user | async)?.displayName }}</li>
        <li>Display Name (lower): {{ (user | async)?.displayName_lower }}</li>
        <li>Email: {{ (user | async)?.email }}</li>
        <li>Email (lower): {{ (user | async)?.email_lower }}</li>
        <li>Email Verification Status: {{ (afAuth.user | async)?.emailVerified }}</li>
    </ul>   
    <div class="flex gap-6 mt-5" *ngIf='(user | async)?.accountType == "admin"'>
    <button routerLink="/settings/recipe">add recipes</button><button  routerLink="/settings">idk yet</button>
</div> 
</section>