<div id="hero"
  class="flex h-screen w-screen items-center justify-center relative hero"
>
 <div class="gradient-02 z-0"></div>
   <div
      class="flex h-full w-full items-center justify-center rounded-l "
    >
      <article class="card">
        <h1 class="mt-4 boujee-text">Niko Junttila</h1>
        <h2  (mouseover)="change()" (mousedown)="change()">
          {{ text }}
        </h2>
        <span class="top"></span>
        <span class="right"></span>
        <span class="bottom"></span>
        <span class="left"></span>
      </article>
    </div> 
</div>
