<section class="container2 flex items-center text-white flex-col">
    <button class="mt-16 myButton material-icons-outlined" (click)="goBack()">arrow_back</button>
<div *ngIf="exercise;else other_content" class="flex items-center flex-col text-center ">
    <h1 class="text-xl mt-4">{{exercise.name}}</h1>
    <h3 class="ml-2 mb-3">{{exercise.description}}</h3>
    <iframe width="95%" height="400" [src]="safeSrc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<ng-template #other_content>Im lazy and have not added guide for this exercise yet :(</ng-template>

</section>