<section id="alahomma" class="text-center grid justify-center bg-blue-900 text-gray-400">
    <h1 class="text-4xl  mt-3">Niko Junttila</h1>
   <div><span class="mr-2 material-icons-outlined">
    contact_mail
    </span>Niko.Junttila@centria.fi</div> 
   <div> <span class="material-icons-outlined mr-2">call </span>045 0265808</div>
    <div class="flex float-right gap-2 mb-2">
<a href="https://www.linkedin.com/in/niko-junttila-06b05b232/"><img class="fa w-10 " alt="linkedin" src="/assets/svg/linkedin.svg" /></a>
<a href="https://www.instagram.com/nikojunttila/"><img class="fa w-10 " alt="ig" src="/assets/svg/instagram.svg" /></a>
<a href="https://github.com/NikoJunttila"><img class="fa w-10 " alt="git" src="/assets/svg/github.svg" /></a>
</div>
</section>