<header id="header" class="flex flex-col justify-center">
    <nav id="navbar" class="nav-menu">
      <ul>
        <li><a href="cv#hero" class="nav-link "><i class="material-icons md-24">home</i> <span>Home</span></a></li>
        <li><a href="cv#about" class="nav-link"><i class="material-icons md-24">face</i> <span>About</span></a></li>
        <li><a href="cv#skills" class="nav-link"><i class="material-icons md-24">computer</i> <span>Skills</span></a></li>
        <li><a href="cv#resume" class="nav-link"><i class="material-icons md-24">description</i> <span>Resume</span></a></li>
        <li><a href="cv#contact" class="nav-link"><i class="material-icons md-24">mail</i> <span>Contact</span></a></li>
      </ul>
    </nav>
  </header> 